<div class="title"></div>

<form id="new-note" data-remote="true">
  <input id="text" type="textarea" name="note[text]" placeholder="Enter a new note for this project">
</form>

<div class="reflections"></div>
<div class = "circles"></div>
<div class="chart"></div>
<div class="notearea"></div>
