 <h1>New Project</h1>

<form>
  <div class="text_field">
    <label for="project_title">Title</label>
    <input id="project_title" name=title size="30" type="text">
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Create Project">
  </div>
</form>
