<section class='projects'>
<% content_for :javascript do %>
  <script type="text/json" id="bootstrap">
    { "projects": <%== ActiveModel::ArraySerializer.new(@projects).to_json %> }
  </script>
<% end %>
</section>
